header.header
    .container
        .header__top
            ul.header__top-menu
                li
                    a(href="#") Главная

                li
                    a(href="#") О нас

                li
                    a(href="#") Фоторепортажи

                li
                    a(href="#") Спецпроекты

