header.header
    .container
        .header__top
            ul.header__top-menu
                li
                    a(href="#") Главная

                li
                    a(href="#") О нас

                li
                    a(href="#") Фоторепортажи

                li
                    a(href="#") Видео

                li
                    a(href="#") Спецпроекты



        .header__middle
            p.header__title Голос Донбасса

        .header__down
            ul.header__down-menu
                li
                    a(href="#") Бизнес

                li
                    a(href="#") Общество

                li
                    a(href="#") Исследования

                li
                    a(href="#") Экономика

                li
                    a(href="#") Политика

                li
                    a(href="#") Новости часа

                li
                    a(href="#") В мире


