section.report
    .container
        h3.report__title Главное в Республике

        .report__wrapper
            .report__elem
                .report__elem-img
                    img(src="img/report-1.jpg")

                p.report__elem-descr День флага ДНР в Донецке

            .report__elem
                .report__elem-img
                    img(src="img/report-2.jpg")

                p.report__elem-descr День города и День шахтера в Донецке

            .report__elem
                .report__elem-img
                    img(src="img/repoet-3.jpg")

                p.report__elem-descr В Донецке прошла Панихида по погибшим шахтерам

            .report__elem
                .report__elem-img
                    img(src="img/report-4.jpg")

                p.report__elem-descr Шахтеры Донецкой Народной Республики прошли праздничным парадом по главной улице Донецка


